
@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>

<form method="post" action="login">
    <p><input type="text" name="username" value="" /></p>
    <p><input type="password" name="password" value="" /></p>
    <p>
        <input type="submit" value="登陆"/>
    </p>
</form>